/********** Base styles **********/
* {
  font-family: cursive, sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

p {
  margin-top: 20px;
  text-align: justify;
}

.row {
  width: 100%;
  position: relative;
  margin: 3px;
  top: 30px;
}

.box {
  position: relative;
  top: 0;
  background-color: #E0CBC7;
  margin: 15px;
  padding: 25px;
  border: 2px solid black;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  font-size: 120%;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

#chicken {
  background-color: #B34733
}

#beef {
  background-color: #844F45
}

#sushi {
  background-color: #6E5C58
}


/******* Desktop Version *******/
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    width: 33.33%;
  }

}

/******* Tablet Version *******/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }

  .col-md-12 {
    float: left;
    width: 100%;
  }
  
}

/******* Mobile Version *******/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
	
}
